<div class="jumbotron">
    <h2>MEDCOM360 Analytics Platform API</h2>
    <p class="lead">This API interfaces with various dataset in PASBA and MEDCOM. API usage inquires should be directed to PASBA.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Contact PASBA to obtain an API Key</p>
    </div>
    <div class="col-md-4">
        <h2>Data Queries</h2>
        <p>The API documentation provides a comprehensive guide to access datasets made availalbe through PASBA.</p>
    </div>
    <div class="col-md-4">
        <h2>More Information</h2>
        <p>Contact your PASBA POC for more information.</p>
    </div>
</div>
